*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:3px 3px 3px 3px;
    background-color: rgb(218, 237, 244);
    border: 1px solid rgb(186, 186, 246);

}
.logobrand{
    color: gray;
    padding-left: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.navbar{
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    border:1px solid whitesmoke;


}
.navlogo{
    display: flex;
    align-items: center;
    gap:10px;
}
.navlogo img{
    height: 35px;
    padding-left: 100px;
}
.navlinks{
    list-style: none;
    display: flex;
    gap:30px;

}
.appointlink{
    background-color: rgb(50, 130, 221);
    color: white;
    padding: 10px, 20px;
    text-align: center;
    margin-right: 70px;
    border:none;   
}
.appointlink p{
    margin: 0;
    padding: 10px 20px;
    font-size: 1em;
}
.appointlink:hover{
    background-color: rgb(29, 87, 149);
    cursor: pointer;
    transition: 0.3s;
}
.hero{
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url('male-working-as-paediatrician.jpg');
    background-size: cover;      /* scales to cover full screen */
    background-position: center; /* keeps it centered */
    display: flex;
    align-items: center;
     justify-content: left;
     text-align:left;
      
        
}
.whole{
    padding: 40px ;
    padding-right: 40px;
    border-right: 20;
    
}
.bigfont{
    font-size: 3em;
    color: black;
    margin-bottom: 20px;
}
.smallfont{
    font-size: 1em;
    color: black;
    margin-bottom: 30px;
}
.docname{
    
    font-size: 1.5em;
    color: white;
    margin-bottom: 20px;
    padding-top: 20px;

}
.bottom{
    display: flex;
    height: 250px;
    background-color: lightskyblue;
    color: white;
}

.bottom main{
    justify-content: center;
    width: 35%;
    padding: 10px 20px ;
}
.bottom h3, p{
    padding:10px 20px ;
    padding-right: 20px;
    
}
.morelink{
    font-weight: bold;
    background:none;
    color: white;
    padding: 10px, 20px;
    border: 1px solid white;
    text-align: center;
    margin-left: 20px;
    border-radius: 5px;
    
     
}
.morelink:hover{
    background-color: rgb(45, 177, 230);
    cursor: pointer;
    transition: 0.3s;
    
}
 
.bottom article{
    background: rgb(81, 160, 238);
    height: auto;
    width: 30%;
    padding: 10px 20px;
    padding-left: 30px;
}
.bottom aside{
   justify-content: center;
    width: 35%;
    padding: 10px 20px;
    

}
.foot{
    text-align: center;
    padding: 5px;
    background-color: lightgray;
    
    
}